.container-home-about {
    height: fit-content;
    //width: 100vw;
    display: flex;
    flex-direction: column;
    background: white;
    border-top: 1px solid #dddddd;
    position: sticky;
    bottom: 0;

    .section-cright {
        //  width: 100vw;
        height: 55px;
        background-color: #49bce2;
        display: flex;
        padding: 5px 17px 5px;
        justify-content: space-between;
        align-items: center;

        .section-home-about {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 55px;

            a {
                text-decoration: unset;
            }
        }

        .collect-item {
            display: flex;
            justify-content: space-between;
            width: 12%;
            height: 100%;

            align-items: center;

            .facebook-logo {
                width: 30%;
                height: 81%;
                cursor: pointer;
                background: url('../assets/images/Facebook_Logo_\(2019\).png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

            }

            .tiktok-logo {
                width: 30%;
                height: 81%;
                cursor: pointer;
                background: url('../assets/images/TikTok-Logo-Download-Free-PNG.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

            }

            .instagram-logo {
                width: 30%;
                height: 81%;
                cursor: pointer;
                background: url('../assets/images/R.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

    }


    .content-home-about {
        display: flex;
        margin-top: 20px;
        padding: 0 45px;

        .content-left {
            width: 42%;

            .collect-image {
                display: flex;
                gap: 15px;
                width: fit-content;
                margin-left: 17px;

                .image {
                    background: url('../assets/images/bo-cong-thuong.svg');
                    width: 99px;
                    height: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;

                }
            }

            .name-company {
                padding: 10px 10px;
            }

            .collect-item {
                display: flex;
                padding: 5px 37px;
                width: fit-content;
                justify-content: center;
                align-items: center;

                .icon {
                    font-size: 17px;
                    margin-right: 10px;
                }
            }
        }

        .content-center {
            width: 16%;

            .header-logo {
                background: url(../assets/images/logo.svg);
                width: 100%;
                cursor: pointer;
                height: 57px;
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                margin: 7px 0;
                margin-left: 10px;

            }

            .image-download {
                width: 140px;
                height: 100px;
                background: url('../assets/images/apple-app-store-google-play-700x487.jpg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                margin-top: 20px;
                // margin-left        : 100px;
            }

        }

        .content-right {
            width: 42%;
            padding-left: 40px;

            .collect-item {
                display: flex;

                .collect-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                }

                .image {

                    // &.image-logo-1 {
                    //     height    : 43px;
                    //     width     : 64px;
                    //     margin-top: 9px;
                    //     background: url('../../assets/images/Facebook_Logo_\(2019\).png');
                    //     cursor    : pointer;
                    // }

                    // &.image-logo-2 {
                    //     height    : 64px;
                    //     width     : 64px;
                    //     background: url('../../assets/images/R.png');
                    //     cursor    : pointer;
                    // }

                    // &.image-logo-3 {
                    //     height    : 64px;
                    //     background: url('../../assets/images/TikTok-Logo-Download-Free-PNG.png');
                    //     width     : 64px;
                    //     cursor    : pointer;
                    // }

                    background-position: center;
                    background-repeat: no-repeat !important;
                    background-size: contain;

                }
            }

        }

    }


}

.text {
    margin-left: 10px;


    &.text1 {
        color: rgb(15, 134, 134);
        cursor: pointer;

        &:hover {
            color: rgb(63, 182, 182);
        }
    }

    &.name-company {
        font-size: 16px;
        font-weight: 700;
    }

    padding : 3px;
    font-size : 14px;
}